@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
#colorcito{
 background-color:mediumpurple
}
#colorcitoo {
    background-color:rgba(243, 227, 0, 0.699)
}
body{
    font-family: 'Anton', sans-serif;
}
#colorcitooo {
    background-color: gold;
}
